In [1]:
import pandas as pd

#### importing dataset

In [2]:
df = pd.read_csv('placement.csv')

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

#### checking null values

In [4]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

#### fillling null values with 0

In [5]:
df = df.fillna('0')

#### converting p_status into 0 and 1

In [6]:
p_status = []
for i in df['status']:
    if i == 'Placed':
        p_status.append(int(1))
    else:
        p_status.append(int(0))

In [7]:
df['p_status'] = p_status

## 1)finding the factor witch influence the student to get placed

In [8]:
df.corr()

             sl_no     ssc_p     hsc_p  degree_p   etest_p     mba_p  p_status
sl_no     1.000000 -0.078155 -0.085711 -0.088281  0.063636  0.022327 -0.026859
ssc_p    -0.078155  1.000000  0.511472  0.538404  0.261993  0.388478  0.607889
hsc_p    -0.085711  0.511472  1.000000  0.434206  0.245113  0.354823  0.491228
degree_p -0.088281  0.538404  0.434206  1.000000  0.224470  0.402364  0.479861
etest_p   0.063636  0.261993  0.245113  0.224470  1.000000  0.218055  0.127639
mba_p     0.022327  0.388478  0.354823  0.402364  0.218055  1.000000  0.076922
p_status -0.026859  0.607889  0.491228  0.479861  0.127639  0.076922  1.000000

#### according to the correlation the student who got high  percentage sslc were placed

## 2)Is percentage is important for getting placed ?

In [9]:
df[df['ssc_p'] >75 ]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,p_status
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0,1
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0,1
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0,1
13,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0,1
21,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0,1
23,24,F,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0,1
24,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0,1
28,29,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,Placed,350000.0,1
33,34,F,87.00,Others,65.00,Others,Science,81.00,Comm&Mgmt,Yes,88.00,Mkt&Fin,72.78,Placed,260000.0,1
37,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0,1
39,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0,1
40,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0,1
43,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0,1
44,45,F,77.00,Others,73.00,Others,Commerce,81.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,69.70,Placed,200000.0,1
45,46,F,76.00,Central,64.00,Central,Science,72.00,Sci&Tech,No,58.00,Mkt&HR,66.53,Not Placed,0,0
50,51,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,Placed,200000.0,1
53,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0,1
61,62,M,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0,1
62,63,F,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0,1
64,65,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,Placed,240000.0,1
66,67,M,83.00,Others,74.00,Others,Science,66.00,Comm&Mgmt,No,68.92,Mkt&HR,58.46,Placed,275000.0,1
67,68,M,80.92,Others,78.50,Others,Commerce,67.00,Comm&Mgmt,No,68.71,Mkt&Fin,60.99,Placed,275000.0,1
70,71,M,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,Placed,360000.0,1
72,73,M,84.86,Others,67.00,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,Placed,240000.0,1
78,79,M,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,Placed,270000.0,1
81,82,M,81.70,Others,63.00,Others,Science,67.00,Comm&Mgmt,Yes,86.00,Mkt&Fin,70.20,Placed,300000.0,1
83,84,M,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,Placed,300000.0,1
85,86,F,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0,1
89,90,F,84.00,Others,75.00,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,Placed,210000.0,1
90,91,F,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,Placed,300000.0,1
96,97,F,76.00,Central,70.00,Central,Science,76.00,Comm&Mgmt,Yes,66.00,Mkt&Fin,64.44,Placed,300000.0,1
102,103,F,77.00,Others,61.00,Others,Commerce,68.00,Comm&Mgmt,Yes,57.50,Mkt&Fin,61.31,Placed,300000.0,1
107,108,M,82.00,Others,90.00,Others,Commerce,83.00,Comm&Mgmt,No,80.00,Mkt&HR,73.52,Placed,200000.0,1
117,118,M,77.00,Others,75.00,Others,Science,73.00,Sci&Tech,No,80.00,Mkt&Fin,67.05,Placed,240000.0,1
118,119,M,76.00,Central,80.00,Central,Science,78.00,Sci&Tech,Yes,97.00,Mkt&HR,70.48,Placed,276000.0,1
125,126,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0,1
126,127,F,79.00,Others,61.00,Others,Science,75.50,Sci&Tech,Yes,70.00,Mkt&Fin,68.20,Placed,210000.0,1
128,129,M,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0,1
129,130,M,76.70,Central,89.70,Others,Commerce,66.00,Comm&Mgmt,Yes,90.00,Mkt&Fin,68.55,Placed,250000.0,1
134,135,F,77.44,Central,92.00,Others,Commerce,72.00,Comm&Mgmt,Yes,94.00,Mkt&Fin,67.13,Placed,250000.0,1
138,139,F,82.00,Others,64.00,Others,Science,73.00,Sci&Tech,Yes,96.00,Mkt&Fin,71.77,Placed,250000.0,1
139,140,M,77.00,Central,70.00,Central,Commerce,59.00,Comm&Mgmt,Yes,58.00,Mkt&Fin,54.43,Placed,220000.0,1
142,143,M,85.00,Central,60.00,Others,Science,73.43,Sci&Tech,Yes,60.00,Mkt&Fin,61.29,Placed,260000.0,1
143,144,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,Placed,300000.0,1
145,146,M,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0,1
148,149,F,77.00,Central,86.00,Central,Arts,56.00,Others,No,57.00,Mkt&Fin,64.08,Placed,240000.0,1
152,153,F,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0,1
156,157,M,84.20,Central,69.40,Central,Science,65.00,Sci&Tech,Yes,80.00,Mkt&HR,52.72,Placed,255000.0,1
160,161,M,87.00,Central,74.00,Central,Science,65.00,Sci&Tech,Yes,75.00,Mkt&HR,72.29,Placed,300000.0,1
171,172,M,80.00,Others,80.00,Others,Commerce,72.00,Comm&Mgmt,Yes,63.79,Mkt&Fin,66.04,Placed,290000.0,1
179,180,F,77.80,Central,64.00,Central,Science,64.20,Sci&Tech,No,75.50,Mkt&HR,72.14,Not Placed,0,0
185,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0,1
187,188,M,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0,1
197,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0,1
207,208,M,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0,1
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0,1

In [10]:
df[df['status'] == 'Not Placed' ]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,p_status
3,4,M,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,0,0
5,6,M,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,0,0
6,7,F,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,0,0
9,10,M,58.0,Central,70.0,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,0,0
12,13,F,47.0,Central,55.0,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,199,F,67.0,Central,70.0,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,0,0
201,202,M,54.2,Central,63.0,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,0,0
206,207,M,41.0,Central,42.0,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,0,0
208,209,F,43.0,Central,60.0,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,0,0
214,215,M,62.0,Central,58.0,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,0,0

#### YES percentage is important for getting placed

## 3)which degree specialisation is much demanded by corprate ?

In [13]:
d1 = df[df['specialisation'] == 'Mkt&Fin'] 
len(d1[d1['p_status'] == 1])

95

In [14]:
d1 = df[df['specialisation'] == 'Mkt&HR'] 
len(d1[d1['p_status'] == 1])

53

#### marketting and finance specialization is demanded by company

In [14]:
df['degree_t'].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [15]:
d1 = df[df['degree_t'] == 'Sci&Tech'] 
len(d1[d1['p_status'] == 1])

41

In [16]:
d1 = df[df['degree_t'] == 'Comm&Mgmt'] 
len(d1[d1['p_status'] == 1])

102

In [17]:
d1 = df[df['degree_t'] == 'Others'] 
len(d1[d1['p_status'] == 1])

5

#### commerce and management degree is demanded by company

## 4)statistical test

In [28]:
import scipy.stats as stats
import statsmodels.api as sm

print("Descriptive Statistics:")
print(df.describe())
print('\n')

# t-test
group1_data = df[df['hsc_s'] == 'Science']['p_status']
group2_data = df[df['degree_t'] == 'Sci&Tech']['p_status']
t_statistic, p_value = stats.ttest_ind(group1_data, group2_data)
print("T-test:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)
print('\n')


# Chi-square test
contingency_table = pd.crosstab(df['hsc_s'], df['degree_t'])
chi2_statistic, p_value, _, _ = stats.chi2_contingency(contingency_table)
print("Chi-square test:")
print("Chi-square statistic:", chi2_statistic)
print("P-value:", p_value)
print('\n')


# Correlation
correlation_matrix = df.corr()
print("Correlation:")
print(correlation_matrix)

Descriptive Statistics:
            sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000
mean   108.000000   67.303395   66.333163   66.370186   72.100558   62.278186
std     62.209324   10.827205   10.897509    7.358743   13.275956    5.833385
min      1.000000   40.890000   37.000000   50.000000   50.000000   51.210000
25%     54.500000   60.600000   60.900000   61.000000   60.000000   57.945000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
75%    161.500000   75.700000   73.000000   72.000000   83.500000   66.255000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

         p_status
count  215.000000
mean     0.688372
std      0.464240
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000


T-test:
T-statistic: -0.0336061114183332
P-value: 0.9732365293195837


Chi-square test:
Chi-square statistic: 123.41332211321534
P-value: 9.964402980020684e-26


Correlation:
             sl_no     ssc_p     hsc_p  degree_p   etest_p     mba_p  p_status
sl_no     1.000000 -0.078155 -0.085711 -0.088281  0.063636  0.022327 -0.026859
ssc_p    -0.078155  1.000000  0.511472  0.538404  0.261993  0.388478  0.607889
hsc_p    -0.085711  0.511472  1.000000  0.434206  0.245113  0.354823  0.491228
degree_p -0.088281  0.538404  0.434206  1.000000  0.224470  0.402364  0.479861
etest_p   0.063636  0.261993  0.245113  0.224470  1.000000  0.218055  0.127639
mba_p     0.022327  0.388478  0.354823  0.402364  0.218055  1.000000  0.076922
p_status -0.026859  0.607889  0.491228  0.479861  0.127639  0.076922  1.000000